<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<meta charset="utf-8">
<meta name="description" content="ablums">
<meta name="author" content="Tianyuan Durucheng Hangren">
<head>
    <meta charset="utf-8">
    <meta name="description" content="ablums">
    <meta name="author" content="Tianyuan Durucheng Hangren">
    <link rel="stylesheet" href="/static/css/style.css" />

    <title>Backyard Brains Songbird Detection Data</title>
</head>
<body>
  <div class="center">
    {% block content %}{% endblock %}
  </div>
  <script type="text/javascript" src="/static/js/main.js"></script>
</body>

</html>