{% extends "base.html" %}
{% block content %}
    <title>
        Backyard Brains
    </title>
    <body style="background-color:dimgrey;">
    <h1>
    <center><img src="../logo.png" alt="Backyard Brains Logo"></center>
    <meta charset="utf-8">
    <meta name="description" content="ablums">
    <meta name="author" content="Weifong, Yuan, Zachary">
    </h1>
    <h2 style="color:orange;font-family:normal;"> 
    	<center>Songbirds Identification System</center>
    </h2>
    <h3 style="color:orange;">
    	<center>Raghu, Weifong, Matthew, Abhinav, Zachary, Yuan, Jessica
    </h3>

    <em class="center">
    </em><br><br><br><br>
	</body>
    
 
{% endblock %}

<!--Andale Mono-->