{% extends "base.html" %}
{% block content %}
    <body style="background-color:grey;">
        <p class="para">Sort the database by column </p>
        <form method="post">
            <select name="sort" class="options">
                    <option value="sampleid">Sample ID</option>
                    <option value="deviceid">Device ID</option>
                    <option value="added">Time</option>
                    <option value="latitude">Latitude</option>
                    <option value="longitude">Longitude</option>
                    <option value="humidity">Humidity</option>
                    <option value="temp">Temperature</option>
                    <option value="light">Light</option>
                    <option value="type1">Best Match Species</option>
                    <option value="per1">Best Match Percentage</option>
            </select>
            <p class="para">in </p>
            <select name="dir" class="options">
                    <option value="ascending">Ascending</option>
                    <option value="descending">Descending</option>
            </select>
            <p class="para"> direction.<br>(Optional selection: </p>
            <select name="col" class="options">
                    <option value="">Column</option>
                    <option value="sampleid">Sample ID</option>
                    <option value="deviceid">Device ID</option>
                    <option value="latitude">Latitude</option>
                    <option value="longitude">Longitude</option>
                    <option value="humidity">Humidity</option>
                    <option value="temp">Temperature</option>
                    <option value="light">Light</option>
                    <option value="type1">Best Match Species</option>
                    <option value="per1">Best Match Percentage</option>
            </select>
            <select name="equ" class="options">
                    <option value="">Operator</option>
                    <option value="equal">=</option>
                    <option value="notequal">&#8800</option>
                    <option value="greater">></option>
                    <option value="lesser"><</option>
                    <option value="greaterand">> =</option>
                    <option value="lesserand">< =</option>
            </select>
            <input type="text" name="crit" placeholder="Value" class="para" />
            <p class="para"> )</p>
            <input class="button" type="submit">
        </form>

        {% if result %}
            <p class="para"><br>Results from query: <i>{{search}}</i><br></p>
            <font color="orange"><table style="width:100%">
			    <tr>
		    	    <th>Sample ID</th>
		    	    <th>Device ID</th> 
		    	    <th>Time</th>
		    	    <th>Best Match Species</th>
		    	    <th>Best Match Percentage</th> 
                    <th>Link</th>
			    </tr>
			    {% for res in result %}
				    <tr>
		    		    <td>{{res["sampleid"]}}</td>
		    		    <td>{{res["deviceid"]}}</td>
		    		    <td>{{res["added"]}}</td>
		    		    <td>{{res["type1"]}}</td>
		    		    <td>{{res["per1"]}}</td>
                        <td>
                            <form action="{{url_for('info.info_route')}}">
                                <button type="submit" name="sampleid" value="{{res['sampleid']}}" class="button">More Info</button>
                            </form>
                        </td>
		  		    </tr>
        	    {% endfor %}
		    </table></font>
        {% endif %}
	</body>
{% endblock %}