{% extends "base.html" %}
{% block content %}
    <body style="background-color:grey;">
        <style>
            .header{ color :orange; text-align: center; font-size: 40px; }

            .fit { max-width: 100%; max-height: 100%; }

            p, form{ display: inline; }

            .para{ color: orange; font-size: 18px; }

            .options{ background-color: dimgrey; color: orange;
                font-size: 16px; font-family: Times New Roman; }

            .button { background-color: dimgrey; border: none; color: orange;
                padding: 5px 5px; text-align: center; text-decoration: none;
                display: inline-block; margin: 4px 2px; font-family: Times New Roman; }
        </style>

        <center><img src="/static/logo.png" alt="Backyard Brains Logo" class="fit"/></center>

    	<h1 class="header">Songbirds Identification System
            <br><span style="font-size:20px;">Raghu, Weifong, Matthew, Abhinav, Zachary, Yuan, Jessica</span></h1>

        <p class="para">Database has been sorted by: {{button}}
            <br>Choose an option to sort the database by:</p>

        <form method="post">
            <select name="op" class="options">
                <optgroup label="Options:" class="options">
                    <option value="sampleid">Sample ID</option>
                    <option value="deviceid">Device ID</option>
                    <option value="added">Time</option>
                    <option value="latitude">Latitude</option>
                    <option value="longitude">Longitude</option>
                    <option value="humidity">Humidity</option>
                    <option value="temp">Temperature</option>
                    <option value="light">Light</option>
                    <option value="type1">First Match Species</option>
                    <option value="per1">First Match Percentage</option>
				    <option value="type2">Second Match Species</option>
                    <option value="per2">Second Match Percentage</option>
				    <option value="type3">Third Match Species</option>
                    <option value="per3">Third Match Percentage</option>
                    <option value="sqlpage">SQL page for other options</option>
                </optgroup>
            </select>
            <input class="button" type="submit">
        </form>

        <font color="orange"><table style="width:100%">
			<tr>
		    	<th>Sample ID</th>
		    	<th>Device ID</th> 
		    	<th>Time</th>
		    	<th>Latitude</th>
		    	<th>Longitude</th>
		    	<th>Humidity</th>
		    	<th>Temperature</th> 
		    	<th>Light</th>
		    	<th>First Match Species</th>
		    	<th>First Match Percentage</th> 
		    	<th>Second Match Species</th>
		    	<th>Second Match Percentage</th>
		    	<th>Third Match Species</th>
		    	<th>Third Match Percentage</th>
			</tr>
			{% for res in result %}
				<tr>
		    		<td>{{res["sampleid"]}}</td>
		    		<td>{{res["deviceid"]}}</td>
		    		<td>{{res["added"]}}</td>
		    		<td>{{res["latitude"]}}</td>
		    		<td>{{res["longitude"]}}</td>
		    		<td>{{res["humidity"]}}</td>
		    		<td>{{res["temp"]}}</td>
		    		<td>{{res["light"]}}</td>
		    		<td>{{res["type1"]}}</td>
		    		<td>{{res["per1"]}}</td>
		    		<td>{{res["type2"]}}</td>
		    		<td>{{res["per2"]}}</td>
		    		<td>{{res["type3"]}}</td>
		    		<td>{{res["per3"]}}</td>
		  		</tr>
        	{% endfor %}
		</table></font>
	</body>
{% endblock %}

<!--Andale Mono-->