{% extends "base.html" %}
{% block content %}

<style>
    table{
    border-collapse:collapse;
    border:1px solid;
    }

    table td{
    border:1px solid;
    }

    table th{
    border:1px solid;
    }
</style>

<font color="orange"><table style="width:100%">
    <tr>
	    <td>Sample ID</td>
	    <td>{{res["sampleid"]}}</td>
	</tr>
	<tr>
		<td>Device ID</td>
		<td>{{res["deviceid"]}}</td>
	</tr>
	<tr>
		<td>Time</td>
		<td>{{res["added"]}}</td>	   
	</tr> 
	<tr>
		<td>Latitude</td>
		<td>{{res["latitude"]}}</td>	   
	</tr>
	<tr>
		<td>Longitude</td>
		<td>{{res["longitude"]}}</td>	   
	</tr>
	<tr>
		<td>Humidity</td>
		<td>{{res["humidity"]}}</td>	   
	</tr>
	<tr>
		<td>Temperature</td>
		<td>{{res["temp"]}}</td>	   
	</tr>
	<tr>
		<td>Light</td>
		<td>{{res["light"]}}</td>	   
	</tr>
	<tr>
		<td>Best Match Species</td>
		<td>{{res["type1"]}}</td>
	</tr>  
    <tr>
    	<td>Best Match Percentage</td>
    	<td>{{res["per1"]}}</td>
    </tr>
    <tr>
		<td>Second Match Species</td>
		<td>{{res["type2"]}}</td>	   
	</tr>
	<tr>
    	<td>Second Match Percentage</td>
    	<td>{{res["per2"]}}</td>
    </tr>
    <tr>
		<td>Third Match Species</td>
		<td>{{res["type3"]}}</td>	   
	</tr>
	<tr>
    	<td>Third Match Percentage</td>
    	<td>{{res["per3"]}}</td>
    </tr>
</table></font>
{% endblock %}