{% extends "base.html" %}
{% block content %}
<style media="screen" type="text/css">
label, input {
    display: inline-block;
    vertical-align: baseline;
    width: 125px;
}

label {
    color: #2D2D2D;
    font-size: 15px;
}

form, input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

form {
    width: 300px;
}
</style>
<tr><td>
<form method="post" enctype="multipart/form-data">
	<input type="file" name="file" accept="audio/*"><br>
	<label for="latitude">Latitude:</label>
	<input type="text" name="latitude" id="latitude">
	<label for="longitute">Longitute:</label>
	<input type="text" name="longitute" id="longitute"> 
	<label for="humidity">Humidity:</label>
	<input type="text" name="humidity" id="humidity">
	<label for="temperature">Temperature:</label>
	<input type="text" name="temp" id=temperature>
	<label for="light">Light:</label> 
	<input type="text" name="light" id="light">
	<input type="submit" value="Upload">
</form>
</td></tr>
{% if noFile %}
	<p> No file part! </p>
{% endif %}

{% if emptyname %}
	<p> The filename is empty! </p>
{% endif %}

{% if filename %}
	<p> The upload file is {{filename}} </p>
{% endif %}

<br>
<br>
<p><font size="5", color="orange"> Thank you for uploading! </font></p>
<br>
<br>
<audio controls>
  <source src="../static/songs/users/{{filename}}" type="audio/mpeg">
</audio>
<br>
<br>
<p><font size="5", color="orange"> The best match of your song {{filename}} is xxx with percentage xxx </font></p>
<br>
<p><font size="5", color="orange"> The second match of your song {{filename}} is xxx with percentage xxx </font></p>
<br>
<p><font size="5", color="orange"> The third match of your song {{filename}} is xxx with percentage xxx </font></p>
{% endblock %}